<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texas Lottery Numbers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"-->
</head>
<body>
    <header class="mb-4">
        <h1 class="text-center py-3 bg-primary text-white">Texas Lottery | Lotto Texas</h1>
        <h5 style="padding: 15px">This web application scrapes the Texas Lottery website past numbers.  It then extracts the past winning numbers
            and passes them to the Python random library generating a prediction for the next lottery drawing.</h5>

            <br>
<hr>
    </header>
    <main class="container">
        <section>
            <h2 style="text: center" class="mb-4">Texas Lottery Past Numbers</h2>
            <div class="mb-4">
                <a href="{{ url_for('predictions') }}" class="btn btn-primary">See Predicted Numbers</a>
            </div>
             
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center">Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for number in numbers %}
                        <tr>
                            <td class="text-center">{{ number }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        <section class="mt-4">
            <a href="{{ url_for('predictions') }}" class="btn btn-primary">See Predicted Numbers</a>
        </section>
    </main>
    
<footer>
<span class="copy-rights">Jennifer Benavides Ⓒ<script>document.write( new Date().getFullYear() );</script></span>
<br>
<a href="mailto:coverletterassist%20Support<jennybenavides81@gmail.com>" class="link-footer">Contact</a>
 </footer>
</body>
</html>
